        body {
            font-family: Arial, sans-serif;
            background-color: #f1f1f1;
            padding: 20px;
            text-align: center;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        form {
            margin: 0 auto;
            width: 300px;
            text-align: left;
        }

        form strong {
            display: block;
            margin-top: 10px;
        }

        form input[type="text"],
        form input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        form input[type="submit"] {
            background-color: #333;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        form input[type="submit"]:hover {
            background-color: #555;
        }
        
        #dataNascimento {
		  width: 100%;
		  padding: 10px;
		  margin-bottom: 10px;
		  border: 1px solid #ccc;
		  border-radius: 4px;
		  box-sizing: border-box;
		}